<!DOCTYPE html>

<style>
	.announcements li {
		list-style-type:none;
		padding:10px;
		margin-left:0px;
		font-size:25px;
	}

	.cards {
		background-image:url('../images/card.png');
		background-size:16vw 21vh;
		background-repeat:no-repeat;
		width:16vw;
		height:21vh;
		border:none;
		margin:20px;
		position:relative;
		float:left;
	}

	.cards button {
		background:none;
		border:none;
		height:100%;
		width:100%;
		padding:18%;
		padding-top:10%;
	}

	.container {
		min-width:100%;
		min-height:100%;
		padding:0;
		margin:0;
	}

  .popup {
		width: 100%;
		position:fixed;
		left: 0;
		top: 0;
		height: 100vh;
		background: rgba(100,100,100,0.5);
		padding-left: 25%;
		padding-right: 25%;
		padding-top: 25vh;
		padding-bottom: 25vh;
		z-index: 900;
		display:none;
		overflow-y: auto;
	}

	.popup label {
		font-size : 35px;
		padding : 10px;
	}

	#new-deck-button {
		background: none;
		border: 1px solid black;
		border-radius:50;
		margin-left:2%;
		width:50px;
		height:50px;
		transition:0.2s;
	}

	#new-deck-button:hover {
		background: lightgray;
	}

	.content {
		background: rgba(255,255,255,1);
		padding: 25px;
		border-radius:10px;
		min-height: 18vh;
	}

	.card {
		list-style-type:none;
	}

	.card button:hover{
		box-shadow: 0px 10px 10px grey;
	}

	.card button {
		background: white;
		border: 1px solid gray;
		border-radius: 20px;
		margin:5vw 5vh;
		padding: 20%;
		box-shadow: 0px 1px 5px grey;
		transition:0.2s;
	}


	#close {
		background:none;
		border:none;
		color:red;
		float:right;
		font-size:20px;
		transition:0.2s;
	}

	#close:hover{
		background:red;
		color:white;
	}

	#add-card {
		background:none;
		border:none;
		border-radius:5px;
		font-size:20px;
		transition:0.2s;
	}

	#add-card:hover {
		background:lightgray;
	}

	.text-box-input {
		border: none;
		border-radius: 5px;
		height: 10vh;
		width: 40vw;
		padding: 20px;
		font-size: 30px;
		box-shadow: 0px 1px 5px grey;
	}

	.close-button {
		background:none;
		border:none;
		color:red;
		float:right;
		font-size:20px;
		transition:0.2s;
	}

	.close-button:hover{
		background:red;
		color:white;
	}
	.verifyButton{
		background : white;
		border-radius: 5px;
		float:left;
		padding : 1px;
		box-shadow: 0px 0px 1px grey;
	}

</style>

<html>
<head>
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/font-awesome/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../js/group.js"></script>
</head>
<body>

	<nav class="navbar background">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand menu-writing" href="/" style="font-size:27px;"><strong>facecard</strong></a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a class="menu-writing" href="/"><i class="fa fa-user fa-1x"></i>   <%= user %></a></li>
					<li><a class="menu-writing" href="/logout"><i class="fa fa-sign-out fa-1x"></i>   Signout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div id="new-card-overlay" class="popup" style="z-index:902;">
		<div class="content">
			<button class="close-button" onclick="hideOverlay('new-card-overlay')"> X </button>
			<form>
				<label><strong>Card Name </strong></label><input id="new-card-name" class="text-box-input" type="text" value="" name="fname"><br></br>
				<label><strong>Question </strong></label><input id="new-card-question" class="text-box-input" type="text" value="" name="fname"><br></br>
				<label><strong>Answer </strong></label><input id="new-card-answer" class="text-box-input" type="text" value="" name="fname"><br></br>
				<input class="create-button" value="CREATE CARD" type="button" onclick="addNewCard()">
			</form>
		</div>
	</div>

	<div id="deck-overlay" class="popup">
			<div class="content">
					<button id="close" onclick="hideOverlay('deck-overlay')"> X </button>
					<button id="add-card" onclick="showPopup('new-card-overlay')"><span><Strong>Add New Card</Strong></span></button>
					<ul id="catalog"></ul>
			</div>
	</div>

	<div id="new-deck-overlay" class="popup">
		<div class="content">
			<button class="close-button" onclick="hideOverlay('new-deck-overlay')"> X </button>
			<form action="/group/newdeck"  method="post">
				<label><strong>Deck Name </strong></label><input id="new-deck-name" class="text-box-input" type="text" value="" name="deckname"><br></br>
				<input type="hidden" name="groupid" value="<%= id %>" />
				<input type="hidden" name="groupname" value="<%= title %>" />

				<% if (user == owner.username) {%>
					<input type="hidden" name="verified" value="1" />
				<% } else {%>
					<input type="hidden" name="verified" value="0" />
				<% } %>
				<!-- <input value="CREATE DECK" class="create-button" type="button" onclick='addNewDeck()'> -->
				<input value="CREATE DECK" class="create-button" type="submit">
			</form>
		</div>
	</div>

	<div class="container">
		<div class="announcements" style="float:left;">
			<h1><strong>Welcome to <%= title %></strong></h1>
			<h2><strong>Anouncements:</strong></h2>
			<ul id="announcement-list">
			</ul>

		</div>

	</div>

	<div class="container">
	<div class="deck-view" style="float:right;width: 100%;height: auto;">
		<h1><strong>Class Decks</strong><button id="new-deck-button" onclick="showPopup('new-deck-overlay')">+</button></h1>

        <ul id="deck-list" class="decks"></ul>
				<% for (deck in decks) { %>

					<div id="<%=decks[deck].id%>" class='cards'>
						<% if (decks[deck].verified != 1 && user == owner.username) {%>
							<!-- <a href="/group/verify/<%=decks[deck].id %>/<%=title %>"><span>Verify Card</span></a> -->
							<form action="/group/verify/<%=decks[deck].id %>" method="post">
								<input type="hidden" name="groupname" value="<%= title %>" />
							<input class="verifyButton" value="Verify Card" type="submit">
							</form>
						<% } %>
						<button  onclick='showOverlay(this.id)'>
							<h1><strong><%= decks[deck].name %></strong></h1>

							<% if (decks[deck].verified == 1) { %>
								<label>verified </label>
							<% } %>
						</button>
				 </div>
			  <% } %>
		</div>
	</div>

</body>

</html>
