<!DOCTYPE html>

<style>
	.announcements li {
		list-style-type:none;
		padding:10px;
		margin-left:0px;
		font-size:25px;
	}

	.cards {
		background-image:url('../images/card.png');
		background-size:16vw 21vh;
		background-repeat:no-repeat;
		width:16vw;
		height:21vh;
		border:none;
		margin:20px;
		position:relative;
		float:left;
	}

	.cards button {
		background:none;
		border:none;
		height:100%;
		width:100%;
		padding:18%;
		padding-top:10%;
	}

	.container {
		min-width:100%;
		min-height:100%;
		padding:0;
		margin:0;
	}

  .popup {
		width: 100%;
		position:fixed;
		left: 0;
		top: 0;
		height: 100vh;
		background: rgba(100,100,100,0.5);
		padding-left: 25%;
		padding-right: 25%;
		padding-top: 25vh;
		padding-bottom: 25vh;
		z-index: 900;
		display:none;
		overflow-y: auto;
	}

	.popup label {
		font-size : 35px;
		padding : 10px;
	}

	#new-deck-button {
		background: none;
		border: 1px solid black;
		border-radius:50;
		margin-left:2%;
		width:50px;
		height:50px;
		transition:0.2s;
	}

	#new-deck-button:hover {
		background: lightgray;
	}

	.overlay{
		width: 100%;
		position:fixed;
		left: 0;
		top: 0;
		height: 100vh;
		background: rgba(100,100,100,0.5);
		padding-left: 25%;
		padding-right: 25%;
		padding-top: 25vh;
		padding-bottom: 25vh;
		z-index: 900;
		display:none;
		overflow-y: auto;
	}

	.content {
		background: rgba(255,255,255,1);
		padding: 25px;
		border-radius:10px;
		min-height: 18vh;
	}

	.card {
		list-style-type:none;
	}

	.card button:hover{
		box-shadow: 0px 10px 10px grey;
	}

	.card button {
		background: white;
		border: 1px solid gray;
		border-radius: 20px;
		margin:5vw 5vh;
		padding: 20%;
		box-shadow: 0px 1px 5px grey;
		transition:0.2s;
	}


	#close {
		background:none;
		border:none;
		color:red;
		float:right;
		font-size:20px;
		transition:0.2s;
	}

	#close:hover{
		background:red;
		color:white;
	}

	#add-card {
		background:none;
		border:none;
		border-radius:5px;
		font-size:20px;
		transition:0.2s;
	}

	#add-card:hover {
		background:lightgray;
	}

	.text-box-input {
		border: none;
		border-radius: 5px;
		height: 10vh;
		width: 40vw;
		padding: 20px;
		font-size: 30px;
		box-shadow: 0px 1px 5px grey;
	}

	.close-button {
		background:none;
		border:none;
		color:red;
		float:right;
		font-size:20px;
		transition:0.2s;
	}

	.close-button:hover{
		background:red;
		color:white;
	}
	.verifyButton{
		background : white;
		border-radius: 5px;
		float:left;
		padding : 1px;
		box-shadow: 0px 0px 1px grey;
	}

	.btn{
		margin:5px;
	}
	.input-group-addon {
    	padding: 0.375rem 0.75rem;
    	margin-bottom: 0;
    	font-size: 1rem;
    	font-weight: 400;
    	line-height: 1.5;
    	color: #495057;
    	text-align: center;
    	background-color: #e9ecef;
    	border: 1px solid #ced4da;
    	border-radius: 0.25rem;
    }

</style>

<html>
<head>
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/font-awesome/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../js/group.js"></script>

</head>
<body>
    <nav class="navbar navbar-toggleable-md navbar-expand-lg navbar-light bg-light" >
        <a class="navbar-brand menu-writing" style="font-size:27px;" href="/"><strong>facecard</strong></a>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto"></ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link menu-writing" style="font-size:16px;" href="/"><i class="fa fa-user fa-1x"></i> <%= user %></a>

                </li>
                <li class="nav-item">
                    <a class ="nav-link menu-writing" href="/logout"><i class="fa fa-sign-out fa-1x"></i> Signout</a>
                </li>
            </ul>
        </div>
    </nav>

	<div id="new-card-overlay" class="popup" style="z-index:902;">
		<div class="content">
			<button class="close-button" onclick="hideOverlay('new-card-overlay')"> X </button>
			<form>
				<!-- <label><strong>Card Name </strong></label><input id="new-card-name" class="text-box-input" type="text" value="" name="fname"><br></br> -->
				<label><strong>Question </strong></label><input id="new-card-question" class="text-box-input" type="text" value="" name="cardQuestion"><br></br>
				<label><strong>Answer </strong></label><input id="new-card-answer" class="text-box-input" type="text" value="" name="cardAnswer"><br></br>
				<input class="create-button" value="CREATE CARD" type="button" onclick="addNewCard()">
			</form>
		</div>
	</div>

	<div id="deck-overlay" class="popup">
			<div class="content">
					<button id="close" onclick="hideOverlay('deck-overlay')"> X </button>
					<button id="add-card" onclick="showPopup('new-card-overlay')"><span><Strong>Add New Card</Strong></span></button>
					<ul id="catalog"></ul>
			</div>
	</div>

	<div id="new-deck-overlay" class="popup">
		<div class="content">
			<button class="close-button" onclick="hideOverlay('new-deck-overlay')"> X </button>
			<form action="/group/newdeck"  method="post">
				<label><strong>Deck Name </strong></label><input id="new-deck-name" class="text-box-input" type="text" value="" name="deckname"><br></br>
				<input type="hidden" name="groupid" value="<%= id %>" />
				<input type="hidden" name="groupname" value="<%= title %>" />

				<% if (user == owner.local.username) {%>
					<input type="hidden" name="verified" value="1" />
				<% } else {%>
					<input type="hidden" name="verified" value="0" />
				<% } %>
				<!-- <input value="CREATE DECK" class="create-button" type="button" onclick='addNewDeck()'> -->
				<input value="CREATE DECK" class="create-button" type="submit">
			</form>
		</div>
	</div>

	<div class="container">
		<div class="announcements" style="float:left;">
			<h1><strong>Welcome to <%= title %></strong></h1>
			<button id="new-member-btn" class="btn btn-primary float-right" onclick="document.getElementById('member-overlay').style.display='block'"> + </button>

			<h2><strong>Anouncements:</strong></h2>
			<ul id="announcement-list">
			</ul>

		</div>

	</div>

    <div id="member-overlay" class="overlay popup">
    	<div class="container content">
	        <div container class="input-group">
	        	<span class="input-group-addon" id="member-addon">@</span>
	        	<input type="text" class="form-control" placeholder="Username" aria-describedby="member-addon">

	                <button class="btn btn-default" type="submit" style="margin:0;" id="submitSearch"><i class="fa fa-search" aria-hidden="true"></i></button>

	        	<button class="exit btn btn-default" onclick="hideOverlay('member-overlay')"> X </button>
	        </div>
	        <div  class="container">
	        	<% var valid_members = [] %>
	        	<% for (member in members) { %>
	        		<% if (!isNaN(member)){ %>
	        			<% valid_members.push(members[member].local.username); %>
	        		<% } %>
	        	<% } %>

	        	<% for (mem in users) { %>
	        		<% if (valid_members.indexOf(users[mem].local.username) == -1) { %>




	        		<form action="/group/newMember" method="post">
						<input type="hidden" name="groupid" value="<%= id %>" />
						<input type="hidden" name="sender" value="<%= user %>" />
						<input type="hidden" name="groupname" value="<%= title %>" />
						<input type="hidden" name="content" value="<form action='/user/accept' method='post'><input type='hidden' name='groupid' value='<%=id%>'/>
						<input class='accept-button' value='Accept Invitation' type='submit'></form>" />

						<!--<button class="btn"> <%= users[mem].local.username %></button>-->
						<input name="receiver" value="<%= users[mem].local.username %>" class="create-button btn" type="submit">
	        		</form>
	        		<% } %>

	        	<% } %>
	        	<div id="output"></div>
	        </div>
    	</div>
    </div>

	<div class="container">
	<div class="deck-view" style="float:right;width: 100%;height: auto;">
		<h1><strong>Class Decks</strong><button id="new-deck-button" onclick="showPopup('new-deck-overlay')">+</button></h1>

        <ul id="deck-list" class="decks"></ul>
				<% for (deck in decks) { %>

					<div id="<%=decks[deck].id%>" value='<%= decks[deck].id %>' class='cards'>
						<% if (decks[deck].verified != 1 && user == owner.local.username) {%>
							<!-- <a href="/group/verify/<%=decks[deck].id %>/<%=title %>"><span>Verify Card</span></a> -->
							<form action="/group/verify/<%=decks[deck].id %>" method="post">
								<input type="hidden" name="groupid" value="<%= id %>" />
							<input class="verifyButton" value="Verify Deck" type="submit">
							</form>
						<% } %>
						<button  onclick='showOverlay(this.id)'>
							<h1><strong><%= decks[deck].name %></strong></h1>

							<% if (decks[deck].verified == 1) { %>
								<label>verified </label>
							<% } %>
						</button>
				 </div>
			  <% } %>

		</div>
	</div>

</body>

</html>
