<!DOCTYPE html>

<style>

	#navbar {
		box-shadow: 0px 5px 5px grey;
	}

	.groups li {
		list-style-type:none;
		padding:10px;
		margin-left:0px;
		font-size:25px;
	}

	.cards {
		background-image:url('images/card.png');
		background-size:16vw 21vh;
		background-repeat:no-repeat;
		width:16vw;
		height:21vh;
		border:none;
		margin:20px;
		position:relative;
		float:left;
	}

	.cards button {
		background:none;
		border:none;
		height:100%;
		width:100%;
		padding:18%;
		padding-top:10%;
	}

	.container {
		min-width:100%;
		min-height:100%;
		padding:0;
		margin:0;
	}

	.popup {
		width: 100%;
		position:fixed;
		left: 0;
		top: 0;
		height: 100vh;
		background: rgba(100,100,100,0.5);
		padding-left: 25%;
		padding-right: 25%;
		padding-top: 25vh;
		padding-bottom: 25vh;
		z-index: 900;
		display:none;
		overflow-y: auto;
	}

	.popup label {
		font-size : 35px;
		padding : 10px;
	}
	.content {
		background: rgba(255,255,255,1);
		padding: 25px;
		border-radius:10px;
		min-height: 18vh;
	}

	.card {
		list-style-type:none;
	}

	.card a button:hover{
		box-shadow: 0px 10px 10px grey;
	}

	.card a button {
		background: white;
		border: 1px solid gray;
		border-radius: 20px;
		margin:5vw 5vh;
		padding: 20%;
		box-shadow: 0px 1px 5px grey;
		transition:0.2s;
	}


	.close-button {
		background:none;
		border:none;
		color:red;
		float:right;
		font-size:20px;
		transition:0.2s;
	}

	.close-button:hover{
		background:red;
		color:white;
	}

	.add-button {
		background:none;
		border:none;
		border-radius:5px;
		font-size:20px;
		transition:0.2s;
	}

	.add-button:hover {
		background:lightgray;
	}

	#new-deck-button {
		background: none;
		border: 1px solid black;
		border-radius:50;
		margin-left:2%;
		width:50px;
		height:50px;
		transition:0.2s;
	}

	#new-deck-button:hover {
		background: lightgray;
	}

	.text-box-input {
		border: none;
		border-radius: 5px;
		height: 10vh;
		width: 40vw;
		padding: 20px;
		font-size: 30px;
		box-shadow: 0px 1px 5px grey;
	}

	.create-button {
		background: none;
		border: 1px solid black;
		border-radius: 5px;
	}

	.create-button:hover {
		background: lightgray;
	}

	#notifications {
		margin-top:2vh;
		list-style:none;
		padding-left:0;
	}

	.notif-card {
		padding: 20px;
		margin-top:1vh;
		margin-left: 0px;
	}

	.notif-card div {
		box-shadow: 0px 1px 5px grey;
		padding: 20px;
		border-radius:5px;
	}

	.notif-card div h2 {
		font-size:20px;
	}

	#notification-button {
		background:none;
		border:none;
		border-radius:5px;
		float:right;
	}
	#notification-button p span {
		border-radius:50%;
	}
	#notification-button p span:hover {
		background:lightgray;
	}

	#shareGroups li{
		list-style: none;
	}

	.share-button {
		background:none;
		border:none;
		border-radius:5px;
		font-size:20px;
		transition:0.2s;
		float: center;
		margin-left: 12vw;
	}
	.share-button:hover {
		background: lightgray;
	}

	.group-share-select {
		background : none;
		border:none;
		border-radius:5px;
		box-shadow: 0px 1px 3px grey;
		width: 100%;
		height: 6vh;
		text-align:left;
		padding-left: 2vw;
		transition:0.2s;
	}

	.group-share-select:hover {
		box-shadow: 0px 2px 6px grey;
	}

	#shareGroups {
		margin-top : 10px;
		padding: 0;
	}
	#shareGroups li{
		margin-top : 6vh;
		padding-left: 0;
		font-size:18px;
	}

</style>

<html>
<head>
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<link href="css/bootstrap.min.css"rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="js/user.js"></script>
</head>
<body>
	<div id="notification-center" class="popup" style="z-index:901;">
		<div class="content">
			<button class="close-button" onclick="hideOverlay('notification-center')"> X </button>
			<ul id="notifications">
				<li class='notif-card'>
					<% for(var i=0; i < notifications.length; i++) { %>
						<div id='<%= notifications[i].title %>'>
							<h1><strong><%= notifications[i].title %></strong></h1>
							<h2><%= notifications[i].sender.local.username %></h2><br></br>
							<%= notifications[i].content %>
						</div>
					<% } %>
				</li>
			</ul>
		</div>
	</div>

	<div id="new-card-overlay" class="popup" style="z-index:901;">
		<div class="content">
			<button class="close-button" onclick="hideOverlay('new-card-overlay')"> X </button>
			<form>
				<label><strong>Card Name </strong></label><input id="new-card-name" class="text-box-input" type="text" value="" name="fname"><br></br>
				<label><strong>Question </strong></label><input id="new-card-question" class="text-box-input" type="text" value="" name="fname"><br></br>
				<label><strong>Answer </strong></label><input id="new-card-answer" class="text-box-input" type="text" value="" name="fname"><br></br>
				<input class="create-button" value="CREATE CARD" type="button" onclick="addNewCard()">
			</form>
		</div>
	</div>

	<div id="deck-share-overlay" class="popup" style="z-index:902;">
		<div class="content">
			<h1 style="display:inline;"><strong>Choose a group to share with</strong></h1>
			<button class="close-button" onclick="hideOverlay('deck-share-overlay')"> X </button>
			<ul id="shareGroups">
				<% for(group in groups) {%>
					<li><button class="group-share-select" onclick="shareDeck(<%=groups[group].id%>)"><span><strong><%=groups[group].name %></strong></span></button></li>
				<% } %>
			</ul>
		</div>
	</div>

	<div id="deck-overlay" class="popup">
		<div class="content">
				<button class="add-button" id="add-card" onclick="showPopup('new-card-overlay')"><span><Strong>Add New Card</strong></span></button>
				<button class="share-button" onclick="showPopup('deck-share-overlay')"><span> Share Deck </span></button>
				<button class="close-button" onclick="hideOverlay('deck-overlay')"> X </button>
			<ul id="catalog">
			</ul>
		</div>
	</div>

	<div id="new-deck-overlay" class="popup">
		<div class="content">
			<button class="close-button" onclick="hideOverlay('new-deck-overlay')"> X </button>

			<form>
				<label><strong>Deck Name </strong></label><input id="new-deck-name" class="text-box-input" type="text" value="" name="fname"><br></br>
				<input value="CREATE DECK" class="create-button" type="button" onclick="addNewDeck()">
			</form>
		</div>
	</div>

	<nav class="navbar background">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand menu-writing" href="/" style="font-size:27px;"><strong>facecard</strong></a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a class="menu-writing" href="/"><i class="fa fa-user fa-1x"></i>   <%= user %></a></li>
					<li><a class="menu-writing" href="/logout"><i class="fa fa-sign-out fa-1x"></i>   Signout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="groups" id="group-pane" style="float:left;">
			<h1><strong>Groups</strong></h1>
			<ul id="group-list" style="height:700px;overflow-y:auto;">
				<% for(var i=0; i < groups.length; i++) { %>
					<li><a href='group/<%= groups[i].name %>' class='group'><span><strong><%=groups[i].name%></strong></span></a></li>
				<% } %>
			</ul>

		</div>

		<div class="deck-view" style="float:right;width:85%">
			<h1>
				<strong>YOUR DECKS</strong>
				<button id="new-deck-button" onclick="showPopup('new-deck-overlay')">+</button>
				<button id="notification-button" onclick="showPopup('notification-center'); getNotifications();"><p><span class="glyphicon glyphicon-bell"></span></p></button>

			</h1>
			  <ul id="deck-list" class="decks">
					<% for(var i=0; i < userdecks.length; i++) { %>
						<div id='<%= userdecks[i].name %>' value='<%= userdecks[i].id %>' class='cards' onclick='showOverlay(this.id)'><button><h1><strong><%=userdecks[i].name%></strong></h1></button></div>
					<% } %>
				</ul>
		</div>
	</div>

</body>

</html>
